<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
    <connectionStrings>
        <add name="WinSpedDb"
             connectionString="Data Source=SERVER;Initial Catalog=DATENBANK;User ID=USER;Password=PASS;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
  